<div class="toolbar" role="banner">
    <a routerLink="**" class="home-button">Angular Tasks</a>
    <div class="spacer"></div>
    <div>
        <a routerLink="/task1" routerLinkActive="active-link" class="circle-button">
            <span>Task 1</span>
        </a>
        <a routerLink="/task2" routerLinkActive="active-link" class="circle-button">
            <span>Task 2</span>
        </a>
        <a routerLink="/task3" routerLinkActive="active-link" class="circle-button">
            <span>Task 3</span>
        </a>
        <a routerLink="/task4" routerLinkActive="active-link" class="circle-button">
            <span>Task 4</span>
        </a>
        <a routerLink="/task5" routerLinkActive="active-link" class="circle-button">
            <span>Task 5</span>
        </a>
        <a routerLink="/task6" routerLinkActive="active-link" class="circle-button">
            <span>Task 6</span>
        </a>
    </div>
</div>
