
    
    <form class="userForm">
        <h2>Form Validation</h2>
        <p>Name: <input type="text" name="name" ng-model="name" > </p>
        <br>
        <p>Email: <input type="email" name="email" ng-model="email"></p>
        <br>
        <p>Phone: <input type="tel"  name="phone" ng-model="phone" ></p>
        <br>
        <p>Password: <input type="password"  name="password" ng-model="password"></p>
        <br>
        <button [disabled]="name.length==0||!email.includes('@')||phone.length< 10 || phone.length > 10 || password.length < 8">Submit</button>
    </form>

   
